.container {
    /* height: calc(100vh - 100px); */
    height: 190%;
    width: 100%;
    background-color: #ff6803;
    display: flex;
    box-shadow: 0px 6px 60px 8px rgba(230, 14, 14, 0.28);
    
  }
  
  .item {
    flex: 1;
    position: relative;
    display: flex;
    
  }
  .card:first-child{
    border-right: 5px solid white;
  }
  .item:last-child {
    flex: 2;
    padding: 50px;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
    padding: 0 20px;
  }
  
  .title {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  
  .text {
    color: lightgray;
  }
  
  .motto {
    color: white;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
    }
    .item:first-child {
      display: none;
    }
  
    .item {
      flex-direction: column;
    }
  
    .title {
      font-size: 30px;
    }
  
    .text {
      font-size: 20px;
    }
    .card:first-child{
      border-right: none;
    }
  }