.container {
    height: 100px;
    padding: 0px 50px;
    background-color: #ff6803;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 6px 50px 8px rgba(219, 26, 26, 0.28);
  }
  
  .item {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  
  
  .item:last-child {
    justify-content: flex-end;
  }
  
  .callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
  }
  
  .texts {
    margin-left: 20px;
    color: white;
  }
  
  .text:first-child {
    font-size: 15px;
    font-weight: bold;
    

  }
  
  .text:last-child {
    font-size: 20px;
    font-weight: bold;
  }
  
  .list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
  }
  
  .listItem {
    margin: 20px;
    font-weight: 500;
    cursor:pointer
  }
  
  .cart{
      position: relative;
      cursor: pointer;
  }
  
  .counter{
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #d1411e;
  }
  .listItem{
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: pacifico;
    font-size: 2rem;
    
  
    
  }
  @media screen and (max-width:480px) {
    .item:nth-child(2) {
      display: none;
    }
  
    .item:nth-child(1) {
      flex: 3;
    }
  }